<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmp.info.mapper.UserHobbyMapper">
  <resultMap id="BaseResultMap" type="com.rmp.info.model.UserHobby">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="interest" jdbcType="VARCHAR" property="interest" />
    <result column="diet" jdbcType="VARCHAR" property="diet" />
    <result column="taste" jdbcType="VARCHAR" property="taste" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, interest, diet, taste, is_delete, version, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.rmp.info.model.UserHobbyCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_hobby
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >= 0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_hobby
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_hobby
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rmp.info.model.UserHobbyCriteria">
    delete from t_user_hobby
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rmp.info.model.UserHobby">
    insert into t_user_hobby (id, user_id, interest, 
      diet, taste, is_delete, 
      version, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{interest,jdbcType=VARCHAR}, 
      #{diet,jdbcType=VARCHAR}, #{taste,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.rmp.info.model.UserHobby">
    insert into t_user_hobby
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="diet != null">
        diet,
      </if>
      <if test="taste != null">
        taste,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=VARCHAR},
      </if>
      <if test="diet != null">
        #{diet,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.rmp.info.model.UserHobbyCriteria" resultType="java.lang.Long">
    select count(*) from t_user_hobby
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user_hobby
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.interest != null">
        interest = #{record.interest,jdbcType=VARCHAR},
      </if>
      <if test="record.diet != null">
        diet = #{record.diet,jdbcType=VARCHAR},
      </if>
      <if test="record.taste != null">
        taste = #{record.taste,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user_hobby
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      interest = #{record.interest,jdbcType=VARCHAR},
      diet = #{record.diet,jdbcType=VARCHAR},
      taste = #{record.taste,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rmp.info.model.UserHobby">
    update t_user_hobby
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=VARCHAR},
      </if>
      <if test="diet != null">
        diet = #{diet,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rmp.info.model.UserHobby">
    update t_user_hobby
    set user_id = #{userId,jdbcType=BIGINT},
      interest = #{interest,jdbcType=VARCHAR},
      diet = #{diet,jdbcType=VARCHAR},
      taste = #{taste,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch">
    insert into t_user_hobby ( 
    id,
    user_id,
    interest,
    diet,
    taste,
    is_delete,
    version,
    create_time,
    update_time
     ) values 
    <foreach collection="recordColl" item="record" separator=",">
      (
      <trim suffixOverrides=",">
         #{record.id,jdbcType=BIGINT}, 
         #{record.userId,jdbcType=BIGINT}, 
         #{record.interest,jdbcType=VARCHAR}, 
         #{record.diet,jdbcType=VARCHAR}, 
         #{record.taste,jdbcType=VARCHAR}, 
         #{record.isDelete,jdbcType=INTEGER}, 
         #{record.version,jdbcType=INTEGER}, 
         #{record.createTime,jdbcType=BIGINT}, 
         #{record.updateTime,jdbcType=BIGINT}, 
      </trim>
      )
    </foreach>
  </insert>
  <insert id="insertBatchSel">
    insert into t_user_hobby ( 
    <trim suffixOverrides=",">
      <if test="recordColl[0].id != null">
        id,
      </if>
      <if test="recordColl[0].userId != null">
        user_id,
      </if>
      <if test="recordColl[0].interest != null">
        interest,
      </if>
      <if test="recordColl[0].diet != null">
        diet,
      </if>
      <if test="recordColl[0].taste != null">
        taste,
      </if>
      <if test="recordColl[0].isDelete != null">
        is_delete,
      </if>
      <if test="recordColl[0].version != null">
        version,
      </if>
      <if test="recordColl[0].createTime != null">
        create_time,
      </if>
      <if test="recordColl[0].updateTime != null">
        update_time,
      </if>
    </trim>
     ) values 
    <foreach collection="recordColl" item="record" separator=",">
      (
      <trim suffixOverrides=",">
        <if test="record.id != null">
           #{record.id,jdbcType=BIGINT}, 
        </if>
        <if test="record.userId != null">
           #{record.userId,jdbcType=BIGINT}, 
        </if>
        <if test="record.interest != null">
           #{record.interest,jdbcType=VARCHAR}, 
        </if>
        <if test="record.diet != null">
           #{record.diet,jdbcType=VARCHAR}, 
        </if>
        <if test="record.taste != null">
           #{record.taste,jdbcType=VARCHAR}, 
        </if>
        <if test="record.isDelete != null">
           #{record.isDelete,jdbcType=INTEGER}, 
        </if>
        <if test="record.version != null">
           #{record.version,jdbcType=INTEGER}, 
        </if>
        <if test="record.createTime != null">
           #{record.createTime,jdbcType=BIGINT}, 
        </if>
        <if test="record.updateTime != null">
           #{record.updateTime,jdbcType=BIGINT}, 
        </if>
      </trim>
      )
    </foreach>
  </insert>
  <select id="selectByExampleForOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_hobby
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <update id="updateByPrimaryKeySelectiveVer" parameterType="com.rmp.info.model.UserHobby">
    update t_user_hobby
    <set>
      <if test="userId != null">
          user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="interest != null">
          interest = #{interest,jdbcType=VARCHAR},
      </if>
      <if test="diet != null">
          diet = #{diet,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
          taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
          is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
          create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
          update_time = #{updateTime,jdbcType=BIGINT},
      </if>
        version = version + 1
    </set>
    where id = #{id,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyVer" parameterType="com.rmp.info.model.UserHobby">
    update t_user_hobby
    set 
      user_id = #{userId,jdbcType=BIGINT},
      interest = #{interest,jdbcType=VARCHAR},
      diet = #{diet,jdbcType=VARCHAR},
      taste = #{taste,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      version = version + 1
    where id = #{id,jdbcType=BIGINT}
    and version = #{version,jdbcType=INTEGER}
  </update>
</mapper>